.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    margin-top: 3rem;
    background-color: $background-color;

    .hero-content {
        padding-top: 100px;
        padding-bottom: 100px;

        .hero-text {
            h1 {
                font-size: 2.5rem;
                color: $text-color;

                span {
                    color: $primary-color;
                }
            }

            margin-bottom: 3rem;
        }


        .text {
            width: 50%;

            p {
                font-size: 1.2em;
                color: #666;
            }

        }

        .hero-button {
            display: flex;
            justify-content: start;

            button {
                background-color: $primary-color;
                color: $text-color;
                font-weight: bolder;
                border: none;
                padding: 14px 55px 14px 36px;
                margin: 5px;
                cursor: pointer;
                border-radius: $border-radius;

                &:hover {
                    background-color: $primary-color-hover;
                }
            }
        }

        .hero-listener {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .hero-listener-detail {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                padding: 1rem;
                border-radius: 8px;
                font-family: Arial, sans-serif;

                img {
                    width: 100%;
                    height: 50px;
                }

                h4 {
                    margin: 0;
                    font-size: 1.5rem;
                    color: #000;
                }

                p {
                    margin: 0;
                    font-size: 1.2rem;
                    color: #555;
                }
            }

        }
    }

    .hero-image {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        .hero-image-up {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 8px;

            .pic1 {
                width: 40%;
                height: 200px;
            }

            .pic2 {
                width: 55%;
                height: 300px;

            }
        }

        .hero-image-down {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 15px;

            .pic3 {
                // width: 55%;
                height: 300px;

            }

            .pic4 {
                // width: 100%;
                height: 200px;
            }
        }
    }

    .circle-black {
        position: absolute;
        bottom: -2rem;
        left: -3rem;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: yellow;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
}


.promo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 8rem;
    padding-left: 40px;
    padding-right: 40px;

    .image {
        display: flex;
        gap: 20px;

        .image-1 {
            margin-top: 20px;
        }

        div {
            img {
                width: 100%;
                max-width: 289px;
                height: 450px;
                object-fit: cover;
                border-radius: $border-radius-image;
            }
        }
    }


    div:last-child {
        flex: 1;
        text-align: start;

        h1 {
            font-size: 2.3rem;
            font-weight: bolder;
            margin-bottom: 15px;
            line-height: 1.5;
            word-wrap: break-word; // Ensure long words break


            span {
                color: $primary-color;
            }
        }

        p {
            font-size: 1rem;
            color: #666;
            margin-bottom: 20px;
        }

        button {
            background-color: $primary-color;
            color: $text-color;
            font-weight: bolder;
            border: none;
            border-radius: $border-radius;
            padding: 10px 40px;
            font-size: 1rem;
            cursor: pointer;
            align-items: start;

            &:hover {
                background-color: $primary-color-hover;
            }
        }
    }
}


.podcast-container {
    text-align: center;
    margin: 20px 0;
    padding-left: 40px;
    padding-right: 40px;

    h2 {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 50px;
        color: #000;

        span {
            color: $primary-color; // Màu vàng nổi bật
        }
    }

    .explore-items {
        display: flex;
        justify-content: space-around;
        gap: 25px; // Khoảng cách giữa các item

        .item {
            background-color: #000;
            border-radius: 20px;
            width: 350px;
            height: 390px;
            color: white;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                width: 100%;
                height: 80%; // Ảnh chiếm 60% chiều cao
                object-fit: cover;
                border-radius: 20px;
            }

            .content {
                padding: 12px;

                h3 {
                    font-size: 1.3rem;
                    font-weight: bolder;
                    margin: 0;
                }

                p {
                    font-size: 14px;
                    margin: 5px 0 0;
                    color: #CCC; // Màu chữ xám
                }
            }
        }
    }
}


.audio-section {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: $background-color;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px;
    padding-left: 40px;
    padding-right: 40px;

    .content {
        h1 {
            color: $text-color;

            span {
                color: $primary-color;
            }
        }

        p {
            font-size: 1rem;
        }

        .title-point {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;
            margin-bottom: 20px;

            gap: 16px;

            .title-item {
                width: calc(50% - 16px);
                box-sizing: border-box;
                text-align: center;
                padding: 8px;
            }

            p {
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
            }
        }




        button {
            background-color: $primary-color;
            border: none;
            border-radius: $border-radius;
            padding: 18px 50px;
            font-size: larger;
            font-weight: bold;

            &:hover {
                background-color: $primary-color-hover;
            }
        }

    }

    .image {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        padding-right: 1rem;

        .image-1 {
            padding-bottom: 50px;
        }

        img {


            object-fit: cover;
            border-radius: 12px;
        }
    }
}





.plan-section {
    padding-left: 40px;
    padding-right: 40px;

    h1 {
        font-size: 3.5rem;
        text-align: center;

        span {
            color: $primary-color;
        }
    }

    .plan-detail {
        padding: 2rem;
        display: flex;
        justify-content: space-around;


        .pricing-card {
            background-color: $background-color;
            padding: 20px;
            padding-left: 30px;
            padding-right: 5rem;

            .pricing-header {
                .plan-type {
                    display: inline-block;
                    color: black;
                    border: lightgray solid;
                    font-weight: 500;
                    font-size: 1.7rem;
                    margin-bottom: 2rem;
                    padding-right: 33px;
                    padding-left: 33px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    border: 2px solid lightgray;
                    border-radius: 15px 15px 15px 2px;

                }

                .plan-name {
                    font-weight: bolder;
                    font-size: 2rem;
                }
            }

            .list-item {
                font-size: 1rem;

                ul {
                    list-style: none;

                    li {
                        line-height: 2.5;
                    }
                }

                margin-bottom: 2rem;
            }

            .pricing-action {
                .trial-button {
                    background-color: $primary-color;
                    color: $text-color;
                    padding: 18px 55px 18px 36px;
                    border: none;
                    border-radius: $border-radius;
                    font-weight: bolder;
                    font-size: 1rem;



                    width: 100%;

                    &:hover {
                        background-color: $primary-color-hover;
                    }
                }


            }
        }
    }
}




.contact {
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 5rem;
    padding-left: 40px;
    padding-right: 40px;

    .contact-heading {
        align-content: center;

        h1 {
            font-weight: bolder;
            font-size: 2.5rem;
        }
    }

    .contact-image {
        text-align: center;

        img {
            width: 50%;
            margin-top: -30px;
        }
    }

    .contact-form {
        align-content: center;

        p {
            font-size: 0.8rem;
        }

        input {
            padding: 10px;
            border-radius: 10px;
            border: 2px gray solid;
            outline: none;
            margin-bottom: 10px;
            background-color: #F6F6F6;
            font-size: 16px;
            width: 100%;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

            &:focus {
                border-color: #3366FF;
                box-shadow: 0 0 6px rgba(51, 102, 255, 0.5);
            }
        }



        button {
            background-color: $primary-color;
            color: $text-color;
            padding: 10px;
            border: none;
            border-radius: $border-radius;
            font-weight: bolder;
            font-size: 1rem;
            width: 100%;
            text-align: center;

            &:hover {
                background-color: $primary-color-hover;
            }
        }
    }
}




.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100vw; // Full width of the viewport
    left: 50%;
    transform: translateX(-50%); // Center the footer content
    padding-left: 40px;
    padding-right: 40px;

    .footer-content {
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    hr {
        width: 100%;
        border: none;
        height: 1px;
        background-color: #fff; // White line to match footer content
        margin: 10px 0;
    }

    .footer-logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .footer-copyright {
        margin-top: 10px;
        border-top: 1px solid #fff; // Thin white line at the top
        text-align: center;
        font-size: 1rem;
        padding-top: 10px; // Add some space between the text and the border
    }

}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

@media (max-width: 450px) {
    body {
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;

        .hero-content {
            padding: 20px 0;

            .text {
                width: 100%;
            }

            .hero-text h1 {
                font-size: 1.8rem;
                margin-bottom: 1rem;

                span {
                    color: $primary-color;
                }
            }

            .text p {
                font-size: 1rem;
                margin-bottom: 1rem;
                color: #666;
                align-items: center;
            }

            .hero-button {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;

                button {
                    padding: 20px 15px;
                    font-size: 1rem;
                    border-radius: $border-radius;
                    width: 60%;
                }
            }

            .hero-listener {
                flex-direction: column;
                gap: 15px;
            }
        }

        .hero-image {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            position: relative;


            .pic1,
            .pic2,
            .pic3,
            .pic4 {
                width: 90%;
                max-width: 182px;
                height: auto;
            }

            .circle-black {
                position: absolute;

                margin-top: 10px;
                width: 70px;
                height: 70px;
                margin-left: 30px;
                font-size: 12px;
            }
        }
    }

    .promo-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 20px;
      
        .image {
          display: flex;
          flex-direction: row; /* Hình ảnh sắp xếp theo hàng ngang */
          justify-content: center; /* Canh giữa các hình ảnh */
          align-items: center;
          gap: 10px; /* Khoảng cách giữa các hình ảnh */
      
          div {
            flex: 1;
            max-width: 150px; /* Giới hạn chiều rộng tối đa của từng hình ảnh */
            height: auto;
      
            img {
              width: 100%; /* Hình ảnh chiếm toàn bộ chiều rộng của container */
              height: 300px; /* Chiều cao cố định */
              object-fit: cover; /* Đảm bảo hình ảnh không bị méo và vừa khung */
              border-radius: $border-radius-image; /* Bo góc hình ảnh */
            }
          }
        }
      
        div:last-child {
            margin-left: 20px;
          h1 {
            font-size: 1.4rem;
            line-height: 1.4;
            margin-bottom: 10px;
      
            span {
              color: $primary-color;
            }
          }
      
          p {
            font-size: 0.9rem;
            margin-bottom: 10px;
            color: #666;
          }
      
          button {
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: $border-radius;
            background-color: $primary-color;
            color: #fff;
            border: none;
            cursor: pointer;
      
            &:hover {
              background-color: darken($primary-color, 10%);
            }
          }
        }
      }
      

    .podcast-container {
        padding: 20px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 20px;

            span {
                color: $primary-color;
            }
        }

        .explore-items {
            display: flex;
            flex-direction: column;
            /* Hiển thị các mục theo cột */
            gap: 20px;
            /* Khoảng cách giữa các mục */
            align-items: center;
            /* Căn giữa các mục */
            width: 100%;

            .item {
                width: 100%;
                /* Chiều rộng đầy đủ */
                max-width: 340px;
                /* Giới hạn chiều rộng tối đa */
                background-color: #000;
                color: #fff;
                border-radius: 20px 20px;
                /* Bo góc */
                overflow: hidden;
                /* Ẩn phần thừa của nội dung */

                img {
                    width: 100%;
                    height: 300px;
                    /* Đặt chiều cao cố định cho hình ảnh */
                    object-fit: cover;
                    /* Đảm bảo hình ảnh vừa khung và không bị biến dạng */
                    border-radius: 20px 20px;
                    /* Chỉ bo góc phần trên */
                }

                .content {
                    padding: 15px;
                    /* Khoảng cách bên trong */
                    text-align: left;
                    /* Căn chữ sang trái */

                    h3 {
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 0.9rem;
                        color: #ccc;
                    }
                }
            }
        }

    }

    .audio-section {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px; /* Tạo khoảng cách giữa hình ảnh và nội dung */
        padding: 20px;
        align-items: center;
      
        .content {
          text-align: center;
      
          h1 {
            font-size: 1.6rem; /* Kích thước chữ nhỏ hơn để phù hợp với bố cục */
            line-height: 1.4; /* Dòng chữ cân đối hơn */
            text-align: left; /* Căn giữa tiêu đề */
      
            span {
              color: $primary-color; /* Màu nổi bật */
            }
          }
      
          p {
            font-size: 1rem; /* Giữ kích thước chữ hợp lý */
            margin-bottom: 15px;
            text-align: left; /* Căn giữa nội dung */
            color: #666;
          }
      
          .title-point {
            display: flex;
            flex-direction: column; /* Các mục hiển thị dọc */
            gap: 10px; /* Khoảng cách giữa các mục */
            margin-left: 20px;
            .title-item {
                width: 100%;
              text-align: center; /* Căn giữa văn bản */
              font-size: 0.9rem; /* Kích thước chữ nhỏ gọn */
              font-weight: bold; /* Chữ in đậm */
              color: #333;
            }
          }
      
          button {
            display: flex;
            padding: 12px 30px;
            font-size: 1rem;
            background-color: $primary-color; /* Màu nền nút */
            color: #fff; /* Màu chữ */
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            font-weight: bold;
      
            &:hover {
              background-color: darken($primary-color, 10%); /* Màu tối hơn khi hover */
            }
          }
        }
      
        .image {
          display: flex;
          justify-content: center; /* Căn giữa hình ảnh */
          gap: 10px; /* Khoảng cách giữa các hình ảnh */
      
          img {
            width: 177px;
            height: 297px;
            object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
            border-radius: $border-radius; /* Bo góc hình ảnh */
          }
        }
      }
      

    .plan-section {
        padding: 20px;

        h1 {
            font-size: 1.8rem;
            text-align: center;

            span {
                color: $primary-color;
            }
        }

        .plan-detail {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            .pricing-card {
                width: 100%;
                max-width: 300px;
                padding: 15px;
                background-color: $background-color;
                border-radius: $border-radius;
                text-align: left;

                .pricing-header {
                    .plan-type {
                        font-size: 1rem;
                        font-weight: bold;
                        color: #000;
                    }

                    .plan-name {
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                }

                .list-item ul {
                    padding: 0;
                    list-style: none;
                    margin-left: 20px;
                    li {
                        font-size: 0.9rem;
                        margin-bottom: 5px;
                    }
                }

                .pricing-action .trial-button {
                    font-size: 1rem;
                    padding: 10px 20px;
                    width: 100%;
                    background-color: $primary-color;
                    border-radius: $border-radius;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 20px;
        .contact-heading{
            text-align: left;
        }

        .contact-image {
            img {
                max-width: 80%;
                height: auto;
            }
        }

        .contact-form {
            input {
                width: 50%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                font-size: 0.9rem;
            }

            button {
                width: 55%;
                padding: 10px 10px;
                font-size: 0.9rem;
                border-radius: $border-radius;
            }
        }
    }
}