.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  .header-logo {
    width: 50%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .header-authen {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    a {
      text-decoration: none;
      font-size: 16px;
      color: $text-color;
      display: flex;
      align-items: center;
      height: 100%;
    }

    button {
      padding: 12px 32px;
      background-color: $primary-color;
      border: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5rem;
      color: $text-color;

      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }
}
@media (max-width: 576px) {
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 200px;
      gap: 10px;
  }

  .hero h1 {
      font-size: 1.8rem;
  }

  .hero-buttons button {
      width: 80%;
  }

  .header-authen a {
      font-size: 0.9rem;
  }

  .header-authen button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }
}