        button {
            background-color: $primary-color;
            color: $text-color;
            padding: 10px;
            border: none;
            border-radius: $border-radius;
            font-weight: bolder;
            font-size: 1rem;
            width: 100%;
            text-align: center;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba($primary-color, 0.5);
            }
        } 